li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

.header {
  background: #000000;
  max-width: 100%;
  height: 44px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1348px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.outer-container {
  width: 1316px;
  height: 3628px;
  padding: 0 16px 0 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.inner-container {
  width: 1316px;
  height: 3628px;
  display: flex;
}

.header-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 370px;
  display: flex;
  justify-content: space-between;
}

.header-link {
  color: #ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.login {
  margin-left: 140px;
  width: 186px;
}

/* Popup button*/
.open-button {
  background-color: #0099f7;
  color: white;
  border: none;
  cursor: pointer;
  opacity: none;
  width: 150px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: auto;
  right: auto;
  border: 3px solid #f1f1f1;
  border-radius: 6px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  margin: 5px 0 22px 0;
  padding: 15px 0px 15px 10px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
/*Popup button*/
.ad {
  margin: 0;
}

.search-panel-global {
  margin: -20px 0 8px 0;
  padding-top: 24px;
  width: 1316px;
  height: 66px;
  display: flex;
}

.logo-box {
  width: 110px;
  height: 44px;
  margin: 0 24px 0 0;
  display: flex;
  align-items: center;
}

.logo-box-inner {
  display: flex;
  width: 110px;
  height: 30px;
}
.logo {
  width: 109px;
  height: 30px;
  background-image: url("https://www.avito.ru/dstatic/build/assets/3f05575c86642db0be92.svg");
}

.search-form {
  display: flex;
  width: 100%;
  height: 40px;
}

.top-rubricator {
  background-color: #0099f7;
  width: 159px;
  height: 40px;
  border-radius: 6px;
  margin-right: 5px;
}

.search-windows {
  display: flex;
  width: 1018px;
  background-color: #0099f7;
  box-sizing: border-box;
  border: 5px solid #0099f7;
  border-radius: 5px;
  height: 40px;
  align-items: center;
}

.suggest-search {
  display: inline-flex;
  vertical-align: middle;
  border: 1px solid #0099f7;
  height: 35px;
  width: 56%;
}

.region-radius-choose {
  content: "";
  display: flex;
  border-color: 1px solid #0099f7;
  border-radius: 5px;
  height: 35px;
}

.region {
  background: #ffffff;
  border: 1px solid #0099f7;
  border-radius: 5px;
  width: 200px;
}

.radius {
  background: #ffffff;
  border: 1px solid #0099f7;
  border-radius: 5px;
  width: 200px;
}

.search-button {
  content: "";
  background-color: #00aaff;
  width: 86px;
  height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#search-input {
  display: inline-flex;
  align-self: stretch;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: middle;
}

#region-choose {
  display: inline-flex;
  align-self: stretch;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: middle;
}

#radius-choose {
  display: inline-flex;
  align-self: stretch;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: none;
  vertical-align: middle;
}
